# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX files
.DS_Store

# test files
foo.xsh

# exclude special dirs
custom/*
!custom/example.xsh
!custom/plugins/
custom/plugins/*
!custom/plugins/example
!custom/plugins/example/*.*
